.cont {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #c4c8ca;
    margin-bottom: 3px;
    margin-top: 2px;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 2px);
    transform: rotate(-45deg) translate(-5px, 2px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -2px);
    transform: rotate(45deg) translate(-5px, -2px);
}
